* {
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
}



.menu {
    text-align: right;
    width: 2%;
    height: 2%;
}


main {
    margin-bottom: 5px;
    text-align: center;
    font-family:"Roboto", "Droid Sans", sans-serif;
    font-size: 30px;
    color: black;
    margin-top: 30px;
    background-color: #78909C;
  
}  



#GuardarInfo{
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
   font-size: 20px;
   width: 190px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: black;
    opacity: .9;
}
a {
    text-decoration: none;
    color: white;
}
input.Nombre[type='text'] {
     align-content:  center;
    width: 320px;
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 25px;
    padding: 8px 8px 6px 8px;
    position: center;
    display: block;
    outline: none;
    border: none;
    background: bottom left linear-gradient(#000000, #000000) no-repeat, bottom center linear-gradient(#000000, #000000) repeat-x, bottom right linear-gradient(#000000, #000000) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}

::placeholder {

    color: black;
}

input.Nombre[type='text']:hover,
input.Nombre[type='text']:focus {
    background: bottom left linear-gradient(#000000, #000000) no-repeat, bottom center linear-gradient(#000000, #000000) repeat-x, bottom right linear-gradient(#000000, #000000) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}



input.Numero[type='number'] {
    width: 320px;
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 25px;
    padding: 8px 8px 6px 8px;
    position: center;
    display: block;
    outline: none;
    border: none;
    background: bottom left linear-gradient(#000000, #000000) no-repeat, bottom center linear-gradient(#000000, #000000) repeat-x, bottom right linear-gradient(#000000, #000000) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}

::placeholder {
  
    color: black;
}

input.Numero[type='number']:hover,
input.Numero[type='number']:focus {
    background: bottom left linear-gradient(#000000, #000000) no-repeat, bottom center linear-gradient(#000000, #000000) repeat-x, bottom right linear-gradient(#000000, #000000) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
}



footer {
    margin-top: 10px;
   
    background-color: #D44D1C;
    text-align: center;
}

#Titulo{
    text-align: center;
    font-family: fantasy;
    color: #D44D1C;
    background-color: white;
   text-align:center
}
#Parentesco{
   
    border: 2px solid white;
    background-color:#78909C ;
    border-radius: 5px;
    width: 320px;
    height: 30px;
}
#paren{
    margin-right: 140px;
}
input.Nombre{
align-content: center;
}
select{
    font-size: 20px;
}