* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D97904;
}

main {
    text-align: center;
    margin-top: 550px;
}

#imglogo {
    width: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
}

#botonEmpezar {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#botonEmpezar>a {
    font-family: Bodoni MT, Helvetica, sans-serif;
    font-size: large;
}