/*
    ** All elements border-box
*/
*,
*:before,
*::after {
  box-sizing: border-box;
}

/*
    ** Root elemnt font size
    ** No default margins and paddings
*/
html,
body {
      background-color: #434343;
  font-size: 16px;
  margin: 0;
  padding: 0;

}

/*
    **root elements display block
*/
html,
body {
  display: block;
}
#Foto{
  padding: 10px;
  padding-left: 30px;
  width:100%;
  height: 100%;
}

#datos{
  display: inline;
  text-align: center;
}

body {
  line-height: 1.317101995;
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: #ffffff;
}

.perfil{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
.menu{
  image-orientation:inherit;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.content {
  background-color: #434343;
}
.contenedor{

  margin: 100px;
}
.btn {

  /*Contenido de los botones*/
  font-family:cursive;
  position: relative;
  display: block;
  height: 77px;
  width: 300px;
  border-radius: 40px;
  text-transform: uppercase;
  background-color: #D44D1C;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 8px solid black;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: white;
  transition: all 500ms ease;
  z-index: -1;
}
.btn--1::before {
  width: 0;
  height: 100%;
}
/*Cambian las letras del boton al pasar el mouse*/
.btn--1:hover {
  color: #434343;
}
.btn--1:hover::before {
  width: 100%;
}
.btn--2:hover {
  background-color: #e220a1;
  box-shadow: pink;
  color: #434343;
}
.btn--3:hover {
  animation: shadow-pulse 1000ms 1;
  background-color:orange;
  color: #9e400e;
}
.btn--4::before {
  /*Cambio de color en el ultimo boton al pasar el mouse*/
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 750ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10px black, 0 0 20px  black, 0 0 20px black;
}
.btn--4:hover::before {
  left: 50px;
}
#Infor{
  text-align: left;
  margin-left: 100px;
}

#botones > #btnModifica{
  margin-left: 100px;
}

#btnModificar{
  margin-left: 50px;
  margin-top: 50px;
}
